In [138]:
import pandas as pd
import random
import pickle

In [139]:
# Define some example categories
trial_types = ['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4']
therapeutic_areas = ['Oncology', 'Cardiology', 'Neurology', 'Gastroenterology']
trial_phases = [1, 2, 3, 4]
inclusion_criteria = ['Yes', 'No']

In [140]:
# Generate synthetic data
data = []
for _ in range(1000):  # Generate 100 data points, you can adjust this number
    trial_type = random.choice(trial_types)
    therapeutic_area = random.choice(therapeutic_areas)
    trial_phase = random.choice(trial_phases)
    num_patients = random.randint(50, 300)
    inclusion = random.choice(inclusion_criteria)
    site_capacity = random.randint(50, 300)
    activation_time = random.randint(60, 300)  # Adjust range based on your use case
    
    data.append([trial_type, therapeutic_area, trial_phase, num_patients, inclusion, site_capacity, activation_time])

In [141]:
# Create a DataFrame
columns = ['Trial_Type', 'Therapeutic_Area', 'Trial_Phase', 'Number_of_Patients', 'Inclusion_Criteria', 'Site_Capacity', 'Activation_Time']
df = pd.DataFrame(data, columns=columns)

# Save it as a CSV file
df.to_csv('clinical_trial_data.csv', index=False)

In [142]:
df

,Trial_Type,Therapeutic_Area,Trial_Phase,Number_of_Patients,Inclusion_Criteria,Site_Capacity,Activation_Time
0,Phase 1,Oncology,3,183,No,187,98
1,Phase 3,Neurology,4,200,Yes,184,63
2,Phase 4,Oncology,1,198,Yes,243,220
3,Phase 1,Gastroenterology,3,269,Yes,81,144
4,Phase 4,Oncology,3,194,No,86,291
...,...,...,...,...,...,...,...
995,Phase 3,Neurology,1,257,No,265,98
996,Phase 4,Oncology,4,175,No,291,154
997,Phase 1,Gastroenterology,3,156,Yes,253,84
998,Phase 4,Neurology,2,246,Yes,233,130
999,Phase 4,Neurology,1,108,No,198,76

In [143]:
# Save it as a CSV file
df.to_csv('clinical_trial_data.csv', index=False)

In [144]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['Trial_Type']= label_encoder.fit_transform(df['Trial_Type']) 
  
df['Trial_Type'].unique() 
df['Therapeutic_Area']= label_encoder.fit_transform(df['Therapeutic_Area']) 
  
df['Therapeutic_Area'].unique() 
df['Inclusion_Criteria']= label_encoder.fit_transform(df['Inclusion_Criteria']) 
  
df['Inclusion_Criteria'].unique()

array([0, 1])

In [145]:
df

,Trial_Type,Therapeutic_Area,Trial_Phase,Number_of_Patients,Inclusion_Criteria,Site_Capacity,Activation_Time
0,0,3,3,183,0,187,98
1,2,2,4,200,1,184,63
2,3,3,1,198,1,243,220
3,0,1,3,269,1,81,144
4,3,3,3,194,0,86,291
...,...,...,...,...,...,...,...
995,2,2,1,257,0,265,98
996,3,3,4,175,0,291,154
997,0,1,3,156,1,253,84
998,3,2,2,246,1,233,130
999,3,2,1,108,0,198,76

In [146]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler() 
#data_scaled = scaler.fit_transform(df)
#df = pd.DataFrame.from_records(data_scaled)

In [147]:
from sklearn.model_selection import train_test_split
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

# In[7]:


from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)


# In[8]:


from sklearn.metrics import r2_score
Y_predict = lr_model.predict(X_test)
r2 = r2_score(y_test, Y_predict)
print('R2 score is {}'.format(r2))


# In[10]:


# Saving model to disk
pickle.dump(lr_model, open('lr_model.pkl','wb'))

R2 score is -0.02376187118147355

In [148]:
len(Y_predict)

300

In [149]:
Y_predict

array([179.30066039, 186.1480746 , 179.46496676, 190.67725219,
       180.42061168, 193.96361832, 181.40504418, 175.43577857,
       182.33224562, 187.90013252, 185.5279588 , 189.97292941,
       184.9505108 , 176.12435465, 186.28302534, 183.70838146,
       178.54337773, 182.62482399, 182.78779445, 189.78372601,
       179.81131488, 183.93353134, 183.96772766, 174.15353064,
       187.77064377, 186.34988304, 185.72393466, 187.65593259,
       180.20666154, 184.65855748, 188.39797974, 176.73732802,
       187.36427941, 194.64201752, 182.07552345, 188.09307915,
       188.22877668, 178.81495972, 185.74836577, 185.10543915,
       178.32034567, 185.59708609, 180.79081271, 183.16750983,
       180.31284919, 193.25786871, 189.97584424, 184.31278085,
       183.43131817, 181.32171049, 175.37596609, 186.7879716 ,
       188.34937138, 180.95749771, 190.8222188 , 182.23700761,
       184.06296832, 185.02638139, 181.39905358, 187.19435336,
       183.8084311 , 188.2324816 , 188.43805096, 177.26901176,
       186.74738144, 181.5966549 , 180.72396807, 179.85674795,
       182.89291146, 180.06956308, 188.83828687, 188.95480378,
       181.38133512, 190.25772819, 186.30123721, 190.50800659,
       187.40603868, 183.44460812, 185.06444171, 183.40347567,
       184.86629315, 183.00298839, 180.27768558, 184.85710494,
       180.33137849, 187.14679845, 185.11485766, 189.93348199,
       185.37117889, 187.96404949, 181.9464988 , 182.92464315,
       189.48238244, 176.85530237, 194.37461137, 194.66789629,
       194.96211563, 184.32029764, 192.42280646, 193.2905662 ,
       181.45203499, 189.10507805, 189.1115854 , 186.64381583,
       180.35313404, 190.73166599, 182.77700204, 189.04363041,
       190.35224821, 185.53688621, 176.22684312, 188.62608261,
       177.67814682, 181.38183735, 186.11060035, 187.45946759,
       178.64915582, 185.20511209, 187.35101812, 187.81972946,
       179.91270169, 184.17680631, 183.4351415 , 197.53491729,
       190.70341127, 192.20633149, 191.92717189, 191.07330794,
       182.62467517, 179.97371687, 181.34968719, 182.82256289,
       182.30585954, 179.58017676, 178.24062086, 189.6694367 ,
       185.48719433, 183.11307343, 190.27167049, 177.17147179,
       192.74794234, 185.24588875, 194.61336898, 195.46997947,
       181.32710798, 181.94719696, 180.954689  , 186.08761996,
       190.2922833 , 182.3223077 , 191.88973933, 183.02555009,
       181.74649295, 190.60369062, 182.60736904, 180.70250237,
       186.47948925, 181.22977109, 178.85104014, 177.25956735,
       181.79791155, 180.80837934, 187.26655342, 184.98845236,
       174.1913395 , 188.95993989, 184.31017403, 190.09260047,
       183.66900143, 182.33353945, 186.47010205, 188.72833515,
       179.65358849, 184.91758557, 175.81381171, 181.36176882,
       180.28379098, 193.34870182, 180.75923635, 178.89125332,
       184.44389402, 187.09382418, 188.20121395, 183.20335168,
       182.04351303, 185.94490377, 181.21215695, 189.35528549,
       186.07895275, 184.16110368, 187.14404248, 176.31865631,
       180.23924482, 180.37495319, 179.67034804, 185.05961238,
       188.69403894, 183.75276967, 178.55081133, 187.16074136,
       180.70080224, 184.75471241, 183.31672451, 181.11737262,
       186.70998214, 179.00869387, 190.1717458 , 180.27692889,
       183.83822871, 191.53750056, 183.23945614, 181.7032909 ,
       184.10590956, 183.86982886, 181.89162614, 189.77400797,
       191.9268697 , 177.24770078, 178.91897832, 184.35244076,
       191.40193192, 186.27865363, 181.66628636, 176.93883946,
       180.71093161, 186.54124927, 190.17624565, 184.61977923,
       190.85522611, 185.59708609, 192.94576804, 179.31949394,
       182.86309999, 194.68220615, 182.88867575, 186.56020303,
       181.20637293, 188.32487797, 186.32972566, 181.97972741,
       189.46090623, 181.17351059, 188.2006067 , 183.48432885,
       182.42037539, 184.18586037, 183.77926407, 185.85775007,
       191.1038109 , 185.29564291, 183.25385101, 177.56497729,
       176.32496097, 179.0329853 , 179.5786412 , 190.04148551,
       181.43974504, 187.03963403, 189.90088178, 185.63511877,
       180.99267215, 180.75965819, 186.86780385, 184.40237323,
       187.2080486 , 182.01991665, 178.65366435, 187.48967467,
       189.92162384, 175.03109593, 179.35553881, 192.61297951,
       177.70867628, 185.78896663, 187.71735133, 181.82415524,
       183.88952314, 182.91182886, 183.78810573, 179.13421186,
       183.37181604, 186.94112744, 189.22569875, 181.99740474,
       187.76491124, 188.89481389, 189.88573858, 181.38808142,
       185.92130474, 183.25810628, 184.07340399, 190.84855595,
       176.4946081 , 186.52042271, 177.97146275, 178.90134873,
       188.25072274, 176.20710954, 187.19519286, 189.48996078])

In [150]:
X

array([[  0,   3,   3, 183,   0, 187],
       [  2,   2,   4, 200,   1, 184],
       [  3,   3,   1, 198,   1, 243],
       ...,
       [  0,   1,   3, 156,   1, 253],
       [  3,   2,   2, 246,   1, 233],
       [  3,   2,   1, 108,   0, 198]], dtype=int64)